{% extends 'base.html.twig' %}

{% block h1 %}Back office / Dashboard / Tableau de bord{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-md-3">

            <a class="btn btn-primary w-100" href="{{ path('app_product_index') }}">Gestion des produits</a>

            <a class="btn btn-danger w-100" href="{{ path('app_category_index') }}">Gestion des catégories</a>

            <a class="btn btn-success w-100" href="{{ path('app_brand_index') }}">Gestion des marques</a>

            <a class="btn btn-warning w-100" href="{{ path('app_material_index') }}">Gestion des matières</a>

            <a class="btn btn-info w-100" href="{{ path('app_comment_index') }}">Gestion des commentaires</a>

            <a class="btn btn-info w-100" href="{{ path('app_user_index') }}">Gestion des membres</a>

            

        </div>

        <div class="col-md-9">
            {% block dashboard_content %}{% endblock %}
        </div>
    
    </div>


            
{% endblock %}
