{% extends "base.html.twig" %}

{% block h1 %}Modifier le produit "{{product.title}}"{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_admin') }}">Back office</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_product_index') }}">Gestion des produits</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modifier</li>
        </ol>
    </nav>

    {{ form_start(formProduct) }}

        {{ form_row(formProduct.title) }}
        {{ form_row(formProduct.price) }}
        {{ form_row(formProduct.description) }}

        {{ form_rest(formProduct) }}

        <input type="submit" value="Modifier le produit {{product.title}}" class="btn btn-primary w-100 mt-3">


    {{ form_end(formProduct) }}


{% endblock %}